## Question

Design a drill string using the following data.
Well Depth = 12000 ft,
well size = 8.5 inch,
Mud weight = 10.5 ppg,
WOB = 60000 lbs,
MOP = 50000 lbs,
SFS = 1.3,
drill collar weight = 93.63 ppf,
Drillpipe weight = 19.5 ppf,
Formtion pressure gradient = 0.48 psi/ft.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pipe = np.array(['x-2','x-p','x-1','E-p','E-2','p-1','s-1'])

In [3]:
W = np.array([22.46,22.46,22.46,21.92,21.92,23.32,23.75])

In [4]:
pc = np.array([6262,8241,12026,7662,5514,12999,15672])

In [5]:
pt = np.array([394612,394612,501087,311536,311536,553833,712070])

In [6]:
pb = np.array([8941,11005,12037,8688,7059,13304,17105])

In [7]:
ff = pd.DataFrame({'pipe' : pipe , 'W' : W , 'pc' : pc , 'pt' : pt , 'pb' : pb})

In [8]:
ff

  pipe      W     pc      pt     pb
0  x-2  22.46   6262  394612   8941
1  x-p  22.46   8241  394612  11005
2  x-1  22.46  12026  501087  12037
3  E-p  21.92   7662  311536   8688
4  E-2  21.92   5514  311536   7059
5  p-1  23.32  12999  553833  13304
6  s-1  23.75  15672  712070  17105

In [9]:
dd = ff.sort_values(by = 'pt')

In [10]:
Well_depth = int(input('enter value of well depth(in ft) : '))
Mud_weight = float(input('enter value of mud weight (in ppg) : ')) 
Mop = int(input('enter value of MOP (in lbs) :' ))
SFT = float(input('enter value of SFT :'))
WOB = float(input('enter value of WOB (in lbs) : '))
FPG = float(input('enter value of FOrmation Pressure Gradient in psi/ft : '))
well_size = float(input('enter value of well diameter (in inch) : '))

enter value of well depth(in ft) : 12000
enter value of mud weight (in ppg) : 10.5
enter value of MOP (in lbs) :50000
enter value of SFT :1.3
enter value of WOB (in lbs) : 60000
enter value of FOrmation Pressure Gradient in psi/ft : 0.48
enter value of well diameter (in inch) : 8.5

In [11]:
Wc = float(input('enter value of drill collar weight (in lbf/ft) : '))
Wp = float(input('enter value of drill pipe weight (in lbf/ft) : '))
pf = Well_depth * FPG

enter value of drill collar weight (in lbf/ft) : 93.63
enter value of drill pipe weight (in lbf/ft) : 19.5

In [12]:
aa = dd.loc[ff.pb >= pf]
aa

  pipe      W     pc      pt     pb
3  E-p  21.92   7662  311536   8688
4  E-2  21.92   5514  311536   7059
0  x-2  22.46   6262  394612   8941
1  x-p  22.46   8241  394612  11005
2  x-1  22.46  12026  501087  12037
5  p-1  23.32  12999  553833  13304
6  s-1  23.75  15672  712070  17105

In [13]:
B = float(1-Mud_weight/65.4)
B

0.8394495412844036

In [14]:
Ldc = float((WOB + Well_depth * Wp * (1 - B))/(Wc - (1 - B) * (Wp - Wc)))

In [15]:
Ldc

924.5458445641532

In [16]:
ph = 0.052 * Mud_weight * (Well_depth - Ldc)

In [17]:
ph

6047.197968867972

In [18]:
bb = aa.loc[ff.pc > ph]

In [19]:
bb

  pipe      W     pc      pt     pb
3  E-p  21.92   7662  311536   8688
0  x-2  22.46   6262  394612   8941
1  x-p  22.46   8241  394612  11005
2  x-1  22.46  12026  501087  12037
5  p-1  23.32  12999  553833  13304
6  s-1  23.75  15672  712070  17105

In [20]:
a = ((bb.iloc[0,3] * 0.9) - Mop)/((bb.iloc[0,1]) * B ) - ((Ldc * Wc) / (bb.iloc[0,1]))
a

8571.139608746878

In [21]:
b = ((bb.iloc[0,3] * 0.9))/((bb.iloc[0,1]) *SFT * B ) - ((Ldc * Wc) / (bb.iloc[0,1]))

In [22]:
b

7772.0611147467625

In [23]:
if a < b:
    Lp1 = a
else: 
    Lp1 = b

In [24]:
Lp1

7772.0611147467625

In [25]:
Depth_left = Well_depth - Ldc - Lp1

In [26]:
a = ((bb.iloc[1,3] * 0.9) - Mop)/((bb.iloc[1,1]) * B ) - (((Ldc * Wc) + (Lp1 * (bb.iloc[1,1])))   / (bb.iloc[1,1]))

In [27]:
b = ((bb.iloc[1,3] * 0.9))/((bb.iloc[1,1]) *SFT * B ) - (((Ldc * Wc) + (Lp1 * (bb.iloc[1,1]))) / (bb.iloc[1,1]))

In [28]:
if a < b:
    Lp2 = a
else: 
    Lp2 = b

In [29]:
Lp3 = Well_depth - Ldc - Lp1 - Lp2

In [30]:
print(f'Drill collar size = {Ldc} feet (from {Well_depth - Ldc} feet to {Well_depth} feet) ')
print(f'Section_1 size is =  {Lp1} feet (from {Well_depth - Lp1 - Ldc} feet to {Well_depth - Ldc} feet use drill pipe {bb.iloc[0,0]})')
print(f'Section_2 size is =  {Lp2} feet (from {Well_depth - Lp2 -Lp1 - Ldc } feet to {Well_depth - Lp1 - Ldc} feet use drill pipe {bb.iloc[1,0]} )')
print(f'Section_3 size is =  {Lp3} feet (from Surface to {Well_depth - Lp2 - Lp1 - Ldc} feet use drill pipe {bb.iloc[2,0]} )')

Drill collar size = 924.5458445641532 feet (from 11075.454155435847 feet to 12000 feet)
Section_1 size is =  7772.0611147467625 feet (from 3303.393040689084 feet to 11075.454155435847 feet use drill pipe E-p)
Section_2 size is =  2863.633821171399 feet (from 439.7592195176851 feet to 3303.393040689084 feet use drill pipe x-2 )
Section_3 size is =  439.7592195176858 feet (from Surface to 439.7592195176851 feet use drill pipe x-p )